body {
    background-color: #222222;
    font-family: Arial, sans-serif;
}

h1 {
    color: #dddddd;
}

p {
    color: #cccccc;
}

a:visited {
    color:#ff1493;
}

a:hover {
    color: rgb(59, 53, 114);
    transition-duration: 1900ms;
    transition-timing-function: ease-out;
}

a:active {
    color: #873456;
}